@import 'bulma/css/bulma.min.css';
@import 'buefy/dist/buefy.min.css';

html,
body {
  background: black;
}

/* Hide scrollbar on Linux */
body::-webkit-scrollbar {
  display: none;
}

main {
  -webkit-user-select: none;
  border-radius: 0.4em;
  position: relative;
}

main.expanded {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.drag {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drag div {
  margin: 0.3em;
  color: #999;
  width: 100%;
  text-align: center;
  border-radius: 0.3rem;
}

#todo-body {
  border-color: transparent;
  background-color: black;
  color: white;
}

#todo-body::placeholder {
  color: #555;
}

#todo-body:focus {
  box-shadow: none;
}

/* Autocomplete */
.autocomplete {
  border-radius: 0.4em;
}

.dropdown-menu {
  padding-top: 0;
}

.autocomplete .dropdown-content {
  background-color: #000;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  overflow: hidden;
  border-top: 1px #222 solid;
}

.dropdown-item {
  color: #eee;
  font-size: 1.1em;
}

.autocomplete .dropdown-item.is-hovered {
  background-color: #f8d730;
  color: black;
}

a.dropdown-item:hover {
  background-color: #222;
  color: #fff;
}

.attachments:not(:empty) {
  padding: 0.5em 0.5em 0 0.5em;
}

.attachments {
  display: flex;
  flex-wrap: wrap;
}

.attachment {
  color: #888;
  display: flex;
  align-items: stretch;
  background-color: #222;
  padding: 0.2em 1em 0.2em 0.5em;
  border-radius: 0.3em;
  margin-right: 0.2em;
  margin-bottom: 0.2em;
}

.attachment:hover {
  color: #fff;
  cursor: pointer;
}

.attachment:hover .close:before,
.attachment:hover .close:after {
  background-color: #fff;
}

.close {
  margin-top: 0.35em;
  padding-left: 0.7em;
}
.close:hover {
  color: white;
}

.close:before,
.close:after {
  position: absolute;
  content: ' ';
  height: 0.8em;
  width: 2px;
  background-color: currentColor;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.todo {
  display: flex;
}

.todo__id {
  display: none;
}

.todo__focus {
  margin-right: 0.2rem;
}

i.custom.done,
i.custom.todo {
  font-size: 1.6em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
  height: 1em;
  width: 1em;
  display: block;
  background-size: contain;
  color: lightgreen;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
}

i.custom.done {
  -webkit-mask-image: url(./done.svg);
  background: #f8d730;
}

i.custom.todo {
  -webkit-mask-image: url(./todo.svg);
  background: #333;
}

.has-text-weight-bold {
  display: none
}

div.dropdown-item {
  padding: 0
}

div.dropdown-item ~ div.dropdown-item {
  border-top: 1px #222 solid
}
