@import 'bulma/css/bulma.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

html {
  background: black;
  overflow: hidden; /* hide scrollbar if contents (slightly) too large */
}

a,
button,
input {
  -webkit-app-region: no-drag;
}

body {
  color: #eee;
  -webkit-app-region: drag;
  user-select: none;
}

main {
  padding: 2em;
}

p {
  font-size: 1.2em;
  margin-bottom: 1em;
}

a,
a:visited {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  background: #222;
  color: white;
}

h1 {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
}

code {
  background-color: #444;
  color: white;
}

i.fas.fa-key {
  font-size: 1em;
  line-height: 1em;
  vertical-align: -0.1em;
  height: 1em;
  width: 1em;
  display: block;
  background-size: contain;
  color: lightgreen;
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: url(./key.svg);
  background: #ccc;
}

input,
input:active,
input:focus {
  border-width: 0 !important;
}
